extends layout

block content
  h1 Registro
  form(method='POST', action='/users/register')
    #form-group
      label Nombre:
      input.form-control(name='nombre', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    #form-group
      label Nick:
      input.form-control(name='username',type='text')
    #form-group
      label Password:
      input.form-control(name='password',type='password')
    #form-group
      label Confirmacion:
      input.form-control(name='password2',type='password')
    br
    input.btn.btn-primary(type='submit',value='Registrarme')
